---
import "../styles/global.css";
import App from "../components/App.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Glossa | Dictionary</title>
  </head>
  <body>
    <!-- The client:load directive ensures interactive bits like the search bar work -->
    <App client:load />
  </body>
</html>
